* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  font-size: $font-lg;
}

body {
  overflow: hidden;
}

button,
input[type="submit"] {
  transition: all $duration-lg;
  cursor: pointer;
  background: none;
  border: 1px solid $color-secondary;
  &:active,
  &:hover {
    color: $color-secondary;
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  input:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.Page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  @media only screen and (max-width: $breakpoint-sm) {
    padding: 2rem 1rem;
  }
  @media only screen and (max-width: $breakpoint-xsm) {
    padding: 0.5rem 0.25rem;
  }
}

.Header,
.Footer {
  padding: 1rem 2rem;
  @media only screen and (max-width: $breakpoint-sm) {
    padding: 0.5rem 1rem;
  }
  @media only screen and (max-width: $breakpoint-xsm) {
    padding: 0.125rem 0.25rem;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
