// Color palette
$color-primary: #2c3539;
$color-secondary: #cf5c36;
$color-tertiary: #eee5e9;
$color-quaternary: #7c7c7c;
$color-quinary: #efc88b;

// Breakpoints
$breakpoint-xsm: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// Font sizes
$font-xsm: 12px;
$font-sm: 16px;
$font-md: 20px;
$font-lg: 24px;

// Transition durations
$duration-xsm: 50ms;
$duration-sm: 100ms;
$duration-md: 200ms;
$duration-lg: 350ms;
