// Color palette
$color-surf-crest: #c9e4ca;
$color-acapulco: #87bba2;
$color-smalt-blue: #55828b;
$color-william: #3b6064;
$color-oxford-blue: #364958;

// Breakpoints
$breakpoint-xsm: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
